section.about 
	.container 
		.row 
			aside.about-aside
				nav.about-aside__nav 
					ul.about-aside__menu
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link.simple-tab__link--active(data-simple-tab-nav="about-tab-1") İmtina 
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link(data-simple-tab-nav="about-tab-2") İstifadə Şərtləri
			article.about-post
				.about-post__col.preloader.preloader--v.simple-tab__content--active(data-simple-tab-content="about-tab-1") 
					h2 Legal Disclaimer
					br
					h4 Məxfilik Siyasəti üzrə Əsasnamə
					p “Azərbaycan Supermarket” MMC (bundan sonra “Azərbaycan Supermarket”, “bizi”, “biz” və ya “bizim” kimi adlandırılacaq)
						| məxfiliyə, məlumatların qorunması üzrə tətbiq oluna bilən tədbirlərə və şəxsi həyatın toxunulmazlığı haqqında qanunlara
						| əməl etmək öhdəliyi götürür. Siz hər hansı şəxsi məlumatınızı açıqlamadan www.bravosupermarket.az saytına (“Sayt”) daxil
						| ola bilərsiniz.
					br 
					br 
					p Biz, saytımıza daxil olarkən Sizin məlumatlarınızı necə topladığımızı, istifadə etdiyimizi və qoruduğumuzu başa düşmənizə kömək etmək üçün bu Məxfilik Siyasəti üzrə Əsasnaməni hazırlamışıq. Biz Sizə əsaslandırılmış qərar verməyə kömək etmək istəyirik, ona görə xahiş edirik ki, vaxt ayırıb aşağıda verilmiş bölmələrlə tanış olasınız və Sizin şəxsi məlumatlarınızdan necə istifadə edə biləcəyimiz barədə öyrənəsiniz.	
					br 
					br 
					p Siz saytdan istifadə şərtləri ilə bağlı olaraq bu bildirişi oxumalısınız.
					br 
					br 
					p Şəxsi məlumatların toplanması
					br 
					br 
					p Biz Sizin şəxsi məlumatlarınızı yalnız sizin xəbəriniz olmaqla və yazılı razılığınızla toplamağa çalışırıq, və bu bir
						| qayda olaraq, xidmətlərdən istifadə etdiyiniz, müştəri sorğuları göndərdiyiniz, məlumatlar və ya digər xidmətlər almaq
						| üçün qeydiyyata düşdüyünüz və yaxud bizim suallarımıza cavab verdiyiniz zaman (məsələn, anketləri doldurduqda və ya
						| sorğularda iştirak etdikdə) baş verir.
					br 
					br 
					p Bizim toplaya biləcəyimiz şəxsi məlumatların növlərinə bunlar daxil ola bilər, məsələn, Sizin adınız və poçt ünvanınız,
						| doğum tarixiniz, cinsiniz, telefon və faks nömrəniz, elektron poçtunuzun ünvanı, habelə həyat tərziniz və qeydiyyatdan
						| keçərkən və ya sorğu aparılarkən toplanmış istənilən digər məlumatlar. Əgər Siz bizə şəxsi məlumatlarınızı təqdim etmək
						| qərarına gəldinizsə, bu məlumatlar onların toplanması zamanı bəyan edilmiş məqsədlər üçün və Sizin qeyd etdiyiniz
						| istənilən xahiş nəzərə alınmaqla istifadə ediləcək.
					br 
					br 
					p Siz bizə məlumatlarınızı verdiyinizi qəbul edirsiniz və Sizin məlumatların bu Məxfilik Siyasəti üzrə Əsasnaməsinə uyğun olaraq emal edilməsinə razılığınızı bildirirsiniz.
					br 
					br 
					p Məlumat mübadiləsi 
					br 
					br 
					p Azərbaycan qanunvericiliyinin tələblərinə cavab verdiyini, bizim prinsiplərimizə və şirkətimizin, habelə
						| müştərilərimizin hüquq və təhlükəsizliyi şərtlərinə uyğun olduğunu hesab etdiyimiz zaman, biz Sizə şəxsi hesabınız və
						| yuxarıda qeyd edilmiş digər şəxsi məlumatlar barədə informasiya veririk. Cinayət əməllərinin qarşısını almaq və ondan
						| qorunmaq məqsədi ilə məlumatlar hüquq-mühafizə orqanlarına onların rəsmi yazılı sorğulara əsasən və Azərbaycan
						| Respublikasının qanunvericiliyinin müvafiq müddəalarına dəqiq əməl edilməklə təqdim edilir.
					br 
					br 
					p Biz şəxsi məlumatların toplanması, saxlanması və açıqlanması ilə bağlı fiziki, elektron və prosedur zəmanətləri veririk. Bizim təhlükəsizlik tədbirlərimiz onu nəzərdə tutur ki, şəxsi xarakter daşıyan məlumatı Sizə verməzdən əvvəl biz vaxtaşırı olaraq Sizin şəxsiyyətinizin müəyyən edilməsi prosedurunu həyata keçirə bilərik.	
					br 
					br 
					p Məxfiliyin dəstəklənməsi
					br 
					br 
					p Bu Məxfilik Siyasəti üzrə Əsasnaməsinin istənilən vaxt və məlumatların qorunması üzrə tətbiq oluna bilən tədbirlərdəki və şəxsi həyatın toxunulmazlığı haqqında qanunvericiliyində dəyişikliklərə cavab olaraq dəyişdirilməsi və ya yeniləndirilməsi hüququnu özündə saxlayır.
					br 
					br 
				.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-2") 
					h2 Legal Disclaimer
					br
					h4 Şərtlərin qəbulu
					p Bu xidmətdən istifadə etmək və onu qəbul etməklə, siz bu müqavilənin şərtləri və bəndləri ilə razılaşır və onlara tabe olmağı qəbul edirsiniz. Əgər siz online qeydiyyatı seçmisinizsə, biz adınız, ünvanınız, telefon nömrəniz və yaxud e-mail adresiniz kimi şəxsi məlumatlarınızı burada qeyd etməyinizi sizdən xahiş edirik. Əgər siz istəsəniz, biz həmçinin sizə istifadəçi adı və şifrə yaratmağa imkan verən məlumatı da əldə edəcəyik.
					br
					br
					h4 Gizlilik şərtləri
					p Biz hər hansı üçüncü tərəfə istənilən şəxsi məlumatı bildirməyəcəyik. (xidmətin təqdim olunmasında məhdud məqsədlər üçün belə məlumatı təchiz edə biləcəyimiz və informasiyanı məxfi saxlamalı olan podratçılar da daxil olmaqla) (1) siz bunun üçün bizə səlahiyyət verməsəniz belə ; (2) bizdən bu məsələn, məhkəməyə çağırış, məhkəmə qərarı yaxud digər qanuni proseslərə cavab olaraq qanuni şəkildə tələb olunur, (3) bu, internet saytı ilə əlaqəli olan mülkiyyət hüquqlarımızı qorumaq üçün vacibdir. Biz həmçinin müştərək, saytın istifadəsi barədə şəxsi olmayan məlumatları əlaqəsi olmayan üçüncü şəxslərlə paylaşa bilərik. Bu müştərək məlumatlara bizim istifadəçilərimiz barədə hər hansı şəxsi məlumatlar aid deyil.
					br
					br
					h4 Öhdəlik
					p Biz sizin şəxsi məlumatlarınızın qorunmasına böyük diqqət yetiririk. Bunlara digərləri ilə birgə, qoruyucu divarlar, şifrləmə və müdaxilənin aşkarlanması kimi standart sənaye texnikalarından istifadə daxildir. Nəticə olaraq, biz sizin şəxsi məlumatlarınızı qorumağa çalışsaq da, sizin bizə göndərdiyiniz yaxud bizdən qəbul etdiyiniz istənilən məlumatın təhlükəsizliyini təmin edə və buna zəmanət verə bilmərik. Bu təhlükəsizliyi olmayan email adresini bizim saytımıza daxil etdiyiniz andan bizə çatanadək məlumatın qorunması üçün heç bir üsulumuz olmadığına görə xüsusilə email vasitəsilə göndərdiyiniz məlumatlar üçün keçərlidir.
					br
					br
					h4 Əqli mülkiyyət hüquqları
					p Sayt və onun əsl mahiyyəti, xüsusiyyətləri və funksionallığı Azərbaycan Supermarket MMC-yə aiddir və beynəlxalq müəlliflik hüququ, ticarət nişanı, patent hüququ, ticari məxfilik və digər əqli mülkiyyət hüququ yaxud mülkiyyət hüquqları qanunu ilə qorunur.
					br
					br
					h4 Müqaviləyə xitam verilmə maddəsi
					p Hesabınızla bağlı olan bütün məlumatların dağılması və itməsi baş verərsə, biz sizin sayta girişinizə səbəbsiz yaxud xəbərdarlıq etmədən xitam verə bilərik. Mahiyyətcə müqaviləyə xitam verildikdən sonra qüvvədə qalmalı olan bu müqavilənin bütün bəndləri sahibkarlıq şərtləri, zəmanətdən imtina etmə, kompensasiya və öhdəliklə bağlı məhdudiyyətlər daxil olmaqla (bunlarla məhdudlaşmır) müqaviləyə xitam verildikdən sonra qüvvədə qalacaq.



