section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title About Careers in Bravo
				p.preloader.preloader--v.careers-info__text Azərbaycanda milli dəyərlərə bağlı, qürurla yaradılmış, etibarlı qida markası olmaq. Biz, mağazalarda müştərilərə qida/qeyri-qida sahəsindəki beynəlxalq standartlarla işlədiyimizi göstəririk.
				p.preloader.preloader--v.careers-info__text Buna nail olmaq üçün biz Azərbaycanın daxilində fərqli və yeni düşüncə tərzinə sahib, təşəbbüskar və məsuliyyəti üzərinə götürən və pərakəndə satışı sahəsində karyera qurmaq arzusu olan mütəxəssisləri cəlb etməkdir. 

section.careers-news.section--mb-last
	.container 
		.row 
			.careers-news__col 
				.preloader.preloader--v.careers-news-box
					.careers-news-box__inner.careers-news-box__inner--width-full
						a(href="#").careers-news-box__tile.careers-news-box__tile--horizontal
							.careers-news-box__img.careers-news-box__img--horizontal
								img.blazy.blazy--style(src="./" data-src="./images/main/careers/news1.jpg", alt="bravo market")
							.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #5868FB 0%, #001AFF 100%)")
								h4.careers-news-box__title Job Opportunities
								p.careers-news-box__sub-title Some text 
								.careers-news-box__arrow.careers-news-box__arrow--left-bottom(style="border-right-color: #001AFF")
						a(href="#").careers-news-box__tile.careers-news-box__tile--horizontal
							.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #93E95E 0%, #5BBC1F 100%)")
								h4.careers-news-box__title Other Projects
								p.careers-news-box__sub-title Some text
								.careers-news-box__arrow.careers-news-box__arrow--right-bottom(style="border-left-color: #5BBC1F")
							.careers-news-box__img.careers-news-box__img--horizontal
								img.blazy.blazy--style(src="./" data-src="./images/main/careers/news3.jpg", alt="bravo market")
					.careers-news-box__inner.careers-news-box__inner--width-half
						a(href="#").careers-news-box__tile.careers-news-box__tile--vertical
							.careers-news-box__img.careers-news-box__img--vertical
								img.blazy.blazy--style(src="./" data-src="./images/main/careers/news2.jpg", alt="bravo market")
							.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #FAE794 0%, #FBD630 100%)")
								h4.careers-news-box__title PRAKTIKUM Summer Internship Program
								p.careers-news-box__sub-title Some text 
								.careers-news-box__arrow.careers-news-box__arrow--left-top(style="border-bottom-color: #FBD630")

		.row 
			.careers-news__col-half
				a(href="#").careers-news-post
					.careers-news-post__thumb
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/a1.jpg", alt="bravo market")
					.careers-news-post__content 
						h5.careers-news-post__title Additional block
			.careers-news__col-half
				a(href="#").careers-news-post
					.careers-news-post__thumb
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/a2.jpg", alt="bravo market")
					.careers-news-post__content 
						h5.careers-news-post__title Additional block