section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col.careers-info__col--text-center
				h1.preloader.preloader--v.careers-info__title.careers-info__title--green 2019 Praktikum məzunları

section.careers-info.section--pb
	.container 
		.row 			
				.careers-timeline 
					.careers-timeline__inner 
						.careers-timeline__content.careers-timeline__content--left
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/1.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Anar Sultanzadə
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İlk həftədən anladım ki, Bravo mənə həm təcrübə həm də şəxs inkişaf imkanı yaradacaq. Əminliklə deyə bilərəm ki, burada qazandığım təcrübənin bəhrəsini həyatımın hər bir anında görəcəyəm”  
							
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/3.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Fərid Abdullayev
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İlk həftədən anladım ki, Bravo mənə həm təcrübə həm də şəxs inkişaf imkanı yaradacaq. Əminliklə deyə bilərəm ki, burada qazandığım təcrübənin bəhrəsini həyatımın hər bir anında görəcəyəm”  
						
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/5.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Nərmin Ağarəhimova
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İlk həftədən anladım ki, Bravo mənə həm təcrübə həm də şəxs inkişaf imkanı yaradacaq. Əminliklə deyə bilərəm ki, burada qazandığım təcrübənin bəhrəsini həyatımın hər bir anında görəcəyəm”  
							
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/7.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Oruc İsmayılov
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İlk həftədən anladım ki, Bravo mənə həm təcrübə həm də şəxs inkişaf imkanı yaradacaq. Əminliklə deyə bilərəm ki, burada qazandığım təcrübənin bəhrəsini həyatımın hər bir anında görəcəyəm”  
							
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/9.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Səidə Kərimli
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İlk həftədən anladım ki, Bravo mənə həm təcrübə həm də şəxs inkişaf imkanı yaradacaq. Əminliklə deyə bilərəm ki, burada qazandığım təcrübənin bəhrəsini həyatımın hər bir anında görəcəyəm”  
						.preloader.preloader--h.careers-timeline__line
							.careers-timeline__line-inner
							a(href="#").preloader.preloader--v.careers-timeline__load-btn.careers-timeline__load-btn--desktop
								span Go to 
								span Previous
								span year
						.careers-timeline__content.careers-timeline__content--right
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/2.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Ceyhun Paşayev
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İki aylıq təcrübə müddətində korporativ iş mühitində işləmək, kollektivin işin gedişinə və nəticəsinə təsiri, iş mühitinə adaptasiya, komanda ilə işləmə bacarığı və digər bilik və bacarıqların gələcək həyat və kariyeram boyu mənə faydalı olacağına inanıram.”
							.careers-timeline-user
								.preloader.preloader--v.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/4.jpg", alt="bravo market")
								.preloader.preloader--v.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Hüseyn Əliyev
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İki aylıq təcrübə müddətində korporativ iş mühitində işləmək, kollektivin işin gedişinə və nəticəsinə təsiri, iş mühitinə adaptasiya, komanda ilə işləmə bacarığı və digər bilik və bacarıqların gələcək həyat və kariyeram boyu mənə faydalı olacağına inanıram.”
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/6.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Nurlan Cabbarlı
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İki aylıq təcrübə müddətində korporativ iş mühitində işləmək, kollektivin işin gedişinə və nəticəsinə təsiri, iş mühitinə adaptasiya, komanda ilə işləmə bacarığı və digər bilik və bacarıqların gələcək həyat və kariyeram boyu mənə faydalı olacağına inanıram.”
							.careers-timeline-user
								.preloader.preloader--v.careers-timeline-user__photo
									img.blazy.blazy--style(src="./" data-src="./images/main/praktikum/8.jpg", alt="bravo market")
								.preloader.preloader--v.careers-timeline-user__descr
									.careers-timeline-user__name Ramazan Rüstəmov
									.careers-timeline-user__release-time 2019 Praktikum məzunu
									.careers-timeline-user__text "İki aylıq təcrübə müddətində korporativ iş mühitində işləmək, kollektivin işin gedişinə və nəticəsinə təsiri, iş mühitinə adaptasiya, komanda ilə işləmə bacarığı və digər bilik və bacarıqların gələcək həyat və kariyeram boyu mənə faydalı olacağına inanıram.” 
				
				.careers-timeline 
					a(href="#").preloader.preloader--v.primary-btn.primary-btn--green.careers-timeline__load-btn.careers-timeline__load-btn--mobile Go to Previous year

