section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title Acceptance of application forms has been suspended.
				p.preloader.preloader--v.careers-info__text Follow the news on the acceptance of application forms on our official Social Media accounts:
				br 
				.share-box
					a(href="#").share-box__link.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/icon/fb.svg", alt="bravo market")
					a(href="#").share-box__link.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/icon/in.svg", alt="bravo market")
					a(href="#").share-box__link.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/icon/lk.svg", alt="bravo market")
				br 
				br 
				p.preloader.preloader--v.careers-info__text In case of questions, all inquiries can be forwarded to 
					a.preloader.preloader--v.careers-info__link(href="mailto: internship@azerbaijansupermarket.com") internship@azerbaijansupermarket.com
				br 
				br 
