section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title General information
				p.preloader.preloader--v.careers-info__text After graduating from university, young people start to take their first steps toward building a career, and inexperience is one of the biggest obstacles in their path.
				br 
				p.preloader.preloader--v.careers-info__text Bravo, the fastest-growing food and non-food retailer in Azerbaijan, also takes steps to promote the development of young people, by offering new products. The "Praktikum" Summer Internship Program is an exciting and useful project targeted at young people. It’s already the second year that “Praktikum” provides students practical experience of what they learned during their studies, a closer acquaintance with the corporate environment and business processes.
				br 
				br 

section.careers-news.section--mb.section--pb.section--pt
	.container 
		.row 
			.careers-news__col-half
				a(href="#").careers-news-post
					.careers-news-post__thumb.careers-news-post__thumb--full
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/b1.jpg", alt="bravo market")
			.careers-news__col-half
				a(href="#").careers-news-post
					.careers-news-post__thumb.careers-news-post__thumb--full
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/b2.jpg", alt="bravo market")

section.news-accordion.section--white-bg.section--pt.section--pb
	.container 
		.row 
			.careers-info__col 
				.accordion__inner
					h5.preloader.preloader--v.accordion__descr.accordion__descr--inner-title.accordion__descr--active 
						+icon('arrow', 'accordion__arrow ')
						| Who can apply to "Praktikum" Internship Program?
					p.preloader.preloader--v.accordion__text.accordion__text--inner.accordion-visible Answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer
				.accordion__inner
					h5.preloader.preloader--v.accordion__descr.accordion__descr--inner-title 
						+icon('arrow', 'accordion__arrow ')
						| What are the selection stages of the internship program?
					ol.preloader.preloader--v.accordion__text.accordion__text--inner.accordion__text--counted-list
						li Submitting application form
						li Test and group interviews
						li Functional interview
				.accordion__inner
					h5.preloader.preloader--v.accordion__descr.accordion__descr--inner-title 
						+icon('arrow', 'accordion__arrow ')
						| In which departments students can have “Praktikum” Summer Internship Program?
					ul.preloader.preloader--v.accordion__text.accordion__text--inner.accordion__text--list
						li IT and Business Systems
						li Human Resources and Administration
						li Finance
						li Legal
						li Marketing     
						li Commercial
						li Procurement and Project Cost Control
						li Store Operations

		.row 
			.careers-info__col
				br 
				br 	
				h2.preloader.preloader--v.careers-info__sub-title Intern benefits from program
				ul.careers-info-list.preloader.preloader--v
					li.careers-info-list__items Gaining practical experience in one of the leading companies in Azerbaijan
					li.careers-info-list__items Work with professionals
					li.careers-info-list__items Detailed information about the company's internal business processes
					li.careers-info-list__items Teamwork and development of new projects
					li.careers-info-list__items A certificate of participation in the internship program is awarded 
				br 
				br 
				h2.preloader.preloader--v.careers-info__sub-title Terms of the “Praktikum” Summer Internship Program
				ul.careers-info-list.preloader.preloader--v
					li.careers-info-list__items Duration of the program is 2 months, with 5 working days
					li.careers-info-list__items Scholarships are provided to cover the lunch and transportation expenses
					li.careers-info-list__items Detailed information about the company's internal business processes
					li.careers-info-list__items Teamwork and development of new projects
					li.careers-info-list__items A certificate of participation in the internship program is awarded 
				br 
				br 
