section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title Karyera günləri
				p.preloader.preloader--v.careers-info__text Hələ də işə müraciət etməyim nə qədər çətin olduğunu düşünürsünüz? Bravo mağazalarına işə qəbul daha da asanlaşdı. İşə qəbul prosesi sizlərin mümkün qədər rahat, tez və yorulmadan işə qəbul imkanınıza nail ola bilərsiniz.
				br 
				h2.preloader.preloader--v.careers-info__sub-title Əmək yarmarkası
				h3.preloader.preloader--v.careers-info__bold-text Əmək Yarmarkaların Təqvimi:
				p.preloader.preloader--v.careers-info__text 
					| 26 Sentyabr 2019-cu il – Bravo-da İşə qəbul ilə bağlı Açıq Qapı Günü
					| Saat 10.00 – 16.00 Park İnn Otel – 1 Azadlıq prospekti, Bakı – şəxsiyyət vəsiqəsi vacibdir

				br 
				h2.preloader.preloader--v.careers-info__sub-title Açıq qapı günləri 
				p.preloader.preloader--v.careers-info__text Bravo-da iş arzulayanlar, indi siz CV göndərmədən birbaşa Bravo-ya gələrək müsahibədən keçə bilərsiniz. Sadəcə hər bazar ertəsi və cümə axşamı saat 10:00-13:00 arası qeyd olunan ünvanlara gəlin!
				br 
				h3.preloader.preloader--v.careers-info__bold-text Mağazalarda Açıq Qapılar günlərin Təqvimi:
				p.preloader.preloader--v.careers-info__text Hər həftənin birinci və dördüncü günləri saat 10-dan 1-ə qədər aşağıda qeyd olunan mağazalara yaxınlaşaraq müsahibədən keçə bilərsiniz.

				
section.careers-news.careers-news--bg-white.section--pb-inner 
	.container 
		//- .row 
		//- 	.careers-news__col 
		//- 		.preloader.preloader--v.careers-news-box
		//- 			.careers-news-box__inner.careers-news-box__inner--width-full
		//- 				a(href="#").careers-news-box__tile.careers-news-box__tile--horizontal
		//- 					.careers-news-box__img.careers-news-box__img--horizontal
		//- 						img.blazy.blazy--style(src="./" data-src="./images/main/careers/news1.jpg", alt="bravo market")
		//- 					.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #5868FB 0%, #001AFF 100%)")
		//- 						h4.careers-news-box__title Karyera günləri
		//- 						p.careers-news-box__sub-title Hələ də işə müraciət etməyim nə qədər çətin olduğunu düşünürsünüz? 
		//- 						.careers-news-box__arrow.careers-news-box__arrow--left-bottom(style="border-right-color: #001AFF")
		//- 				a(href="#").careers-news-box__tile.careers-news-box__tile--horizontal
		//- 					.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #93E95E 0%, #5BBC1F 100%)")
		//- 						h4.careers-news-box__title Mağaza heyəti 
		//- 						p.careers-news-box__sub-title Azərbaycanda milli dəyərlərə bağlı, qürurla yaradılmış, etibarlı qida markası olmaq.
		//- 						.careers-news-box__arrow.careers-news-box__arrow--right-bottom(style="border-left-color: #5BBC1F")
		//- 					.careers-news-box__img.careers-news-box__img--horizontal
		//- 						img.blazy.blazy--style(src="./" data-src="./images/main/careers/news3.jpg", alt="bravo market")
		//- 			.careers-news-box__inner.careers-news-box__inner--width-half
		//- 				a(href="#").careers-news-box__tile.careers-news-box__tile--vertical
		//- 					.careers-news-box__img.careers-news-box__img--vertical
		//- 						img.blazy.blazy--style(src="./" data-src="./images/main/careers/news2.jpg", alt="bravo market")
		//- 					.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #FAE794 0%, #FBD630 100%)")
		//- 						h4.careers-news-box__title Mağaza idarə heyəti
		//- 						p.careers-news-box__sub-title Mağaza idarə heyətimizə indi qoşulun.Bravo-da işiniz olsun!
		//- 						.careers-news-box__arrow.careers-news-box__arrow--left-top(style="border-bottom-color: #FBD630")
		
		.row 
			.careers-news__col-half
				a(href="#").careers-news-post
					.careers-news-post__thumb
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/a1.jpg", alt="bravo market")
					.careers-news-post__content 
						h5.careers-news-post__title HİPERMARKETLƏR
						ul.careers-news-post__menu 
							li.careers-news-post__items Əhmədli qəs., R.Quliyev küç. 4
							li.careers-news-post__items “Koroğlu” m/s, Tbilisi pr. 3007 məhəllə
			.careers-news__col-half
				a(href="#").careers-news-post
					.careers-news-post__thumb
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/a2.jpg", alt="bravo market")
					.careers-news-post__content 
						h5.careers-news-post__title SUPERSTOR VƏ SUPERMARKETLƏR
						ul.careers-news-post__menu 
							li.careers-news-post__items Xətai m/s, Babək prospekti
							li.careers-news-post__items  28 Mall ticarət mərkəzi

section.careers-news.section--pb 
	.container.container--full 
		.row 
			.container-inner
				.row 
					.career-news-title
						h2.career-news-title__name Xəbərlər:
				.row 
					.careers-news__col-half.careers-news__col-half--mobile
						a(href="#").careers-news-post
							.careers-news-post__thumb.careers-news-post__thumb--svg
								img.blazy.blazy--style(src="./" data-src="./images/main/icon/news.svg", alt="bravo market")
							.careers-news-post__content 
								p.careers-news-post__descr Bravo ailəsi olaraq bizim üçün ən vacibi sizin sağlamlığınızdır. Buna görə də, yaranmış vəziyyətdə mağazalarımızda insan sıxlığının qarşısını almaq məqsədilə Açıq Qapılar Günləri müvəqqəti olaraq təxirə salınır.Göstərdiyiniz anlayışınıza görə təşəkkür edirik!

					.careers-news__col-half.careers-news__col-half--mobile
						a(href="#").careers-news-post
							.careers-news-post__thumb.careers-news-post__thumb--svg
								img.blazy.blazy--style(src="./" data-src="./images/main/icon/news.svg", alt="bravo market")
							.careers-news-post__content 
								p.careers-news-post__descr Bravo ailəsi olaraq bizim üçün ən vacibi sizin sağlamlığınızdır. Buna görə də, yaranmış vəziyyətdə mağazalarımızda insan sıxlığının qarşısını almaq məqsədilə Açıq Qapılar Günləri müvəqqəti olaraq təxirə salınır.Göstərdiyiniz anlayışınıza görə təşəkkür edirik!


