section.about 
	.container 
		.row 
			aside.about-aside
				nav.about-aside__nav 
					ul.about-aside__menu
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link.simple-tab__link--active(data-simple-tab-nav="about-tab-1") Reusable bags
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link(data-simple-tab-nav="about-tab-2") Donation boxes 
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link(data-simple-tab-nav="about-tab-3") Clothing donation boxes by IDEA
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link(data-simple-tab-nav="about-tab-4") ASAN Mektub
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link(data-simple-tab-nav="about-tab-5") Sevinc Payi
						li.about-aside__items.preloader.preloader--v
							span.about-aside__link(data-simple-tab-nav="about-tab-6") Ehtiyacı ola tənha yaşlılara ərzaq yardımı
			article.about-post
				.about-post__col.preloader.preloader--v.simple-tab__content--active(data-simple-tab-content="about-tab-1") 
					h2 Reusable bags
					img.post-img.post-img--full.blazy.blazy--style(src="./" data-src="./images/main/crs/1.jpg", alt="bravo market logo")
					p Let’s protect environment and nature with reusable BRAVO bags! We would give more benefit to nature by refusing the polietilen bags as contribution to protecting environment. For this reason, you can get shopping bags that suit every taste at BRAVO!  
					br
					br
					br
					br
				.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-2") 
					h2 Donation boxes
					img.post-img.post-img--full.blazy.blazy--style(src="./" data-src="./images/main/crs/2.jpg", alt="bravo market logo")
					p You can support big charity campaigns by donating small amount to donation boxes by Azerbaijan Red Crescent Society at cash-points in our markets. The donations are spent by Azerbaijan Red Crescent Society for low income families, lonely and chronically ill elderly, to those who apply for treatment, to the formation of warehouses for use in emergencies, as well as disasters at the local and international levels.
					br
					br
					br
					br 

				.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-3") 
					h2 Clothing donation boxes by IDEA
					img.post-img.post-img--full.blazy.blazy--style(src="./" data-src="./images/main/crs/3.jpg", alt="bravo market logo")
					p One of the easiest and pleasant ways to help someone is to give him the clothes you don’t need. You can find clothing donation containers in all BRAVO hypermarkets and superstore at Babek Avenue, prepared by IDEA Campaign which is partnering with charity organizations and groups to distribute the collected items among those in need.Please consider donating your unneeded clothes and shoes, rather than sending them to landfill. By giving a second life to your garments, you can help your local community without causing harm to the planet.
					br
					br
					br
					br 

				.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-4") 
					h2 ASAN Məktub
					img.post-img.post-img--full.blazy.blazy--style(src="./" data-src="./images/main/crs/4.jpg", alt="bravo market logo")
					p KSM layihəsi çərçivəsində BRAVO-nun uğurlu əməkdaşlıqlarından biri ASAN MƏKTUB-la reallaşıb. 2017-ci ilin dekabrından başlayan əməkdaşlıq “Bir qəlbi də sən isit”, “Bayram Payı” devizi ilə  ümumilikdə bu günə qədər minlərlə uşaqlara  sevinc bəxş edib. 
					br
					p Belə ki, BRAVO hipermarketlərində Yeni İl və Novruz bayramı ərəfəsində xüsusi dekorativ ağacda yüzlərlə aztəminatlı, ehtiyacı olan uşaqların istəkləri yer alır. BRAVO müştəriləri bu ağacda yerləşən məktubları götürərək onların reallaşmasında bilavasitə rol oynayır. 
					br
					p Bu günə qədər 1000-dən çox balaca fidanların arzuları gerçəkləşərək, onların sevincinə səbəb olub. 
					br
					br
					br
					br 

				.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-5") 
					h2 Sevinc Payı
					.article-slider 
						.article-slider__main.article-slider__main--slider-1.swiper-container.preloader.preloader--v
							.swiper-wrapper
								.swiper-slide
									.article-slider__slide
										img.swiper-lazy(src="./" data-src="./images/main/crs/5.jpg", alt="bravo posr slider img")
								.swiper-slide
									.article-slider__slide
										img.swiper-lazy(src="./" data-src="./images/main/crs/3.jpg", alt="bravo posr slider img")
								.swiper-slide
									.article-slider__slide
										img.swiper-lazy(src="./" data-src="./images/main/crs/2.jpg", alt="bravo posr slider img")
						.article-slide-count.article-slide-count--1 				
						.article-slider-navigation
							button.article-slider-navigation__btn.article-slider-navigation__btn--prev.article-slider-navigation__btn--prev-js-1
								+icon('left_arr', 'pdf-booklet-controls__icon')
							button.article-slider-navigation__btn.article-slider-navigation__btn--next.article-slider-navigation__btn--next-js-1
								+icon('right_arr', 'pdf-booklet-controls__icon')
					p Bravo-nun keçirdiyi KSM layihələrdən biri də #PaylaşaraqSevindirək! şüarı altında satışa çıxarılan “Sevinc Payı” qutularıdır. Cəmi 4.99 AZN-a təklif olunan bu qutuların içində uşaqlar üçün şirniyyatlar, həmçinin hədiyyəli kuponlar olur. Layihənin əsas məqsədi hər qutudan gələn 1 AZN gəlirin xeyriyyə məqsədilə istifadə edilməsidir. 
					br
					p Bravo bu layihəni artıq 3 dəfə reallaşdırıb: 
					br
					p Bu günə qədər 1000-dən çox balaca fidanların arzuları gerçəkləşərək, onların sevincinə səbəb olub. 
					br
					ul
						li 2019-cu ilin may-iyun aylarında 1 İyun Uşaqların Beynəlxalq Müdafiəsi Günü münasibətilə
						li 2020-ci ilin fevral-aprel aylarında Novruz bayramı münasibətilə
						li 2019-cu ilin noyabr-dekabr aylarında Yeni İl münasibətilə
					br
					p Bu günə qədər layihə vasitəsilə 14500 AZN həcmində vəsait qazanılmış və xeyriyyə məqsədilə istifadə olunmuşdur. Məbləğin ianə olunduğu qurumlar:
					ul 
						li Saray qəsəbəsində yerləşən 7 saylı fiziki və əqli qüsurlu uşaqlar üçün internat evi. Bu müəssisə Bravo tərəfindən 2 ədəd dərin dondurucu, tekstil məhsulları, şəxsi gigiyena vasitələri ilə təmin olunmuşdur
						li “Təmiz Dünya” Qadınlara Yardım İctimai Birliyi. Bu müəssisə Bravo tərəfindən 2 ədəd kondisioner, 1 ədəd paltaryuyan maşın, kiçik məişət texnikaları (elektrik çaydanı, ütü, ətçəkən), tekstil məhsulları, şəxsi qulluq və gigiyena vasitələri, uşaq qidası, meyvə və tərəvəz, eləcə də digər qida məhsulları ilə təmin olunmuşdur
						li Azərbaycan Uşaqlar Birliyi, uşaq sığınacağı – reinteqrasiya mərkəzi. Bu müəssisə Bravo tərəfindən şəxsi qulluq və gigiyena vasitələri, qida məhsulları, meyvə və tərəvəz ilə təmin olunmuşdur
						li Füzuli rayonu, Qayıdış qəsəbəsində yerləşən Qayıdış-9 saylı körpələr evi, uşaq bağçası. Bu müəssisə Bravo tərəfindən bağçanın eyvanının təmir olunması üçün tikinti materialları ilə təmin olunmuşdur.
					br 
					p Layihənin bu günə qədər olan tərəfdaşları: OYNA uşaq meydançası, McDonald’s Azərbaycan, CinemaPlus kinoteatrı, Bumblebee, Amburan Kids, Megafun Əyləncə Mərkəzi. Tərəfdaşlar bu layihə üçün öz müəssisələrinə endirim və ya hədiyyə kuponları təqdim edərək, bu KSM layihələrinə öz dəstək olmuşlar. 
					br 
					p 
						| Əgər siz də bu KSM layihədə tərəfdaş qismində iştirak etmək istəyirsinizsə, təklifinizi 
						a(href="#") Marketing_PrintMedia_Advertising@azerbaijansupermarket.com 
						| elektron ünvanına göndərə bilərsiniz. 
				
				.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-6") 
					h2 Ehtiyacı ola tənha yaşlılara ərzaq yardımı
					.article-slider 
						.article-slider__main.article-slider__main--slider-2.swiper-container.preloader.preloader--v
							.swiper-wrapper
								.swiper-slide
									.article-slider__slide
										img.swiper-lazy(src="./" data-src="./images/main/crs/6.jpg", alt="bravo posr slider img")
								.swiper-slide
									.article-slider__slide
										img.swiper-lazy(src="./" data-src="./images/main/crs/5.jpg", alt="bravo posr slider img")
								.swiper-slide
									.article-slider__slide
										img.swiper-lazy(src="./" data-src="./images/main/crs/1.jpg", alt="bravo posr slider img")
						.article-slide-count.article-slide-count--2
						.article-slider-navigation
							button.article-slider-navigation__btn.article-slider-navigation__btn--prev.article-slider-navigation__btn--prev-js-2
								+icon('left_arr', 'pdf-booklet-controls__icon')
							button.article-slider-navigation__btn.article-slider-navigation__btn--next.article-slider-navigation__btn--next-js-2
								+icon('right_arr', 'pdf-booklet-controls__icon')
					p Lacus, nibh diam, vulputate ridiculus. A, aliquam auctor hac nisi aliquam nunc aliquam nulla. Quis in ipsum neque nunc, urna. At volutpat enim maecenas nisi maecenas facilisis elit, purus. Vel eu elementum id pharetra nibh sapien consequat posuere erat. 
					br
					p Semper tincidunt vel varius mauris. Rhoncus feugiat viverra sodales quis eu nulla varius nulla eget. Cursus neque luctus id proin. Lectus tristique sed nunc, vulputate ac lorem in commodo non. Tellus sem sed quam semper. Et vel nec, venenatis risus augue. Id egestas arcu urna, volutpat volutpat pretium risus. Leo nec tempor urna at id sit in neque. Aliquam nunc netus tempor vitae, tortor, sed duis. Mi.
					




