section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col-content
				h1.preloader.preloader--v.careers-info__title Some title for page 
				p.preloader.preloader--v.careers-info__bold-text £41,000 up to £58,300 per annum (pro rata) - This isn’t looking after your local store. This is building a global business.
				br 
				p.preloader.preloader--v.careers-info__text Store Managers spend a lot of time on the shop floor, working alongside the team, keeping our customers happy and ensuring the store is hitting its targets. They take pride in their team, developing them and leading from the front, as if running their own business.
				br 
				p.preloader.preloader--v.careers-info__text This is your opportunity to build a career in an international company that’s growing year on year. Taking full ownership of a Lidl store, you’ll experience the thrill of hitting targets, solving problems and reaching your potential.
				br 
				p.preloader.preloader--v.careers-info__text When you join us, we’ll support you to get started, showing you our best practice and optimal processes, then it’s up to you to make your store a success. We can’t promise it will be easy, and can be challenging, but we know you’ll love leading our teams, providing excellent service to our customers and our unique culture. Find out more and apply for a career a Lidl less ordinary.
				p.preloader.preloader--v.careers-info__text Please note that your application will include three online exercises, designed to provide us with a more in-depth understanding of you as a potential future leader for Lidl. To find out more and even conduct a practice exercise, visit: 
					a(href="#").preloader.preloader--v.careers-info__link getstarted.cut-e.com
				br 
				p.preloader.preloader--v.careers-info__bold-text The process will also include a telephone interview and a face-to-face selection event. We look forward to receiving your application.
				br 
				br 
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green.careers-info__sub-title--green-big What you'll do
				ul.careers-info-list.preloader.preloader--v
					li.careers-info-list__items Lead and motivate your team, in accordance with our Leadership & Company Principles, to work to their full potential every day and provide an environment where colleagues can produce their best work
					li.careers-info-list__items Create an environment where every member of your team can do their best work
					li.careers-info-list__items Take full responsibility for the performance and day-to-day operations of your store
					li.careers-info-list__items Effectively delegate workload and motivate your team to achieve your store’s key performance indicators
					li.careers-info-list__items Optimisation of store process through regular process analysis and implementation Solve problems swiftly to enable your team to focus on their tasks
					li.careers-info-list__items Identify employee potential and apply specific measures to develop employees
					li.careers-info-list__items Recruit, train and develop your team
					li.careers-info-list__items Ensure and provide excellent Customer Service throughout your store
					li.careers-info-list__items Monitor, manage and improve key performance indicators throughout your store
			.careers-info__col-aside
				.careers-info-aside 
					p.preloader.preloader--v.careers-info-aside__title Vakansiyalar
					p.preloader.preloader--v.careers-info-aside__descr Baş satıcı
					.careers-info-aside__share-box
						a(href="#").careers-info-aside__button 
							+icon('repost', 'careers-info-aside__icon')
							| Repost 
						a.careers-info-aside__button.careers-info-aside__button--print(href="javascript:window.print()")
							+icon('print', 'careers-info-aside__icon')
							| Print
section.benefits-section.section--white-bg.section--pb
	.container 							
		.row 
			.careers-info__col 
				h2.career-news-title__name.career-news-title__name--mb0 Your Benefits
		.row 
			.careers-info__col-full.careers-info__col-full--line
				.benefits-slider.swiper-container 
					.swiper-wrapper 
						.swiper-slide 
							.benefits-slider__items
								.benefits-slider__overlay 
									.benefits-slider__overlay-wrap
										.benefits-slider__overlay-inner 
											h2.benefits-slider__discount-title Discount Card
											p.benefits-slider__discount-text 10% off in stores
								.preloader.preloader--v.benefits-slider__items-inner 
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b1.svg", alt="bravo market")
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b1_white.svg", alt="bravo market")
						.swiper-slide 
							.benefits-slider__items
								.benefits-slider__overlay 
									.benefits-slider__overlay-wrap 
										.benefits-slider__overlay-inner 
											h2.benefits-slider__discount-title Discount Card
											p.benefits-slider__discount-text 10% off in stores 10% off in stores 10% off in stores 
								.preloader.preloader--v.benefits-slider__items-inner 
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b2.svg", alt="bravo market")
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b2_white.svg", alt="bravo market")
						.swiper-slide 
							.benefits-slider__items
								.benefits-slider__overlay 
									.benefits-slider__overlay-wrap 
										.benefits-slider__overlay-inner 
											h2.benefits-slider__discount-title Discount Card
											p.benefits-slider__discount-text 10% off in stores 10% off in stores 10% off in stores 
								.preloader.preloader--v.benefits-slider__items-inner 
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b3.svg", alt="bravo market")
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b3_white.svg", alt="bravo market")
						.swiper-slide 
							.benefits-slider__items
								.benefits-slider__overlay 
									.benefits-slider__overlay-wrap 
										.benefits-slider__overlay-inner 
											h2.benefits-slider__discount-title Discount Card
											p.benefits-slider__discount-text 10% off in stores 10% off in stores 10% off in stores 
								.preloader.preloader--v.benefits-slider__items-inner 
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b4.svg", alt="bravo market")
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b4_white.svg", alt="bravo market")
						.swiper-slide 
							.benefits-slider__items
								.benefits-slider__overlay 
									.benefits-slider__overlay-wrap 
										.benefits-slider__overlay-inner 
											h2.benefits-slider__discount-title Discount Card
											p.benefits-slider__discount-text 10% off in stores 10% off in stores 10% off in stores 
								.preloader.preloader--v.benefits-slider__items-inner 
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b5.svg", alt="bravo market")
									img.blazy.blazy--style(src="./" data-src="./images/main/icon/b5_white.svg", alt="bravo market")
				
				.benefits-slider-pagination 
					.benefits-slider-pagination__btn.benefits-slider-pagination__btn--prev
						+icon('arrow1', 'benefits-slider-pagination__icon') 
					.benefits-slider-pagination__btn.benefits-slider-pagination__btn--next
						+icon('arrow1', 'benefits-slider-pagination__icon') 

section.careers-update.section--pb.section--white-bg
	.container 
		.row 
			.careers-update__col(style="background: url(./images/main/careers/job.jpg) no-repeat center/cover")
				.careers-update__info-box 
					h5.careers-update__title.preloader.preloader--v Update
					p.careers-update__text.preloader.preloader--v We’re very pleased that you’d like to become a member of team Lidl GB. Due to the current situation (COVID-19) there may be delays or changes to the application process. We apologise for this and thank you for your understanding.


section.careers-about-content.section--mb-last
	.container 
		.row 
			.careers-about-content__col 
					.careers-about-content-video.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/careers/job1.jpg" alt="shop article thumb") 
						.shop-article__video
							.shop-article__video-wrap.shop-article__video-wrap--first.shop-article__video-wrap--active
								+icon('yt', 'shop-article__video-icon shop-article__video-icon--white')
							.shop-article__video-wrap 
								iframe.yt-player(src='https://www.youtube.com/embed/TBikbn5XJhg?enablejsapi=1' )

