section.cards-section.section--mb
	.container 	
		.row 
			.cards-section__col 
				.row
					.preloader.preloader--v.cards-section__img 
						img.blazy.blazy--style(src="./" data-src="./images/main/cards/1.jpg", alt="bravo market")
					.cards-section__content 
						h4.preloader.preloader--v.cards-section__title Umico kart/ Umico card	
						p.preloader.preloader--v.cards-section__descr(data-full-text="c1")
							| Umico bonuses at Bravo! You can get Umico bonuses at Bravo for any shopping! You will receive your bonuses immediately after showing your plastic or digital card (in Umico app) to cashier. Collect the bonuses and spend them for new shoppings (1 bonus = 1 AZN)
							| Umico bonuses at Bravo! You can get Umico bonuses at Bravo for any shopping! You will receive your bonuses immediately after showing your plastic or digital card (in Umico app) to cashier. Collect the bonuses and spend them for new shoppings (1 bonus = 1 AZN)
							| Umico bonuses at Bravo! You can get Umico bonuses at Bravo for any shopping! You will receive your bonuses immediately after showing your plastic or digital card (in Umico app) to cashier. Collect the bonuses and spend them for new shoppings (1 bonus = 1 AZN)
						button.preloader.preloader--v.cards-section__button(data-show-full-text="c1")
							span.cards-section__btn-text Read More 
							span.cards-section__btn-text Read Less 
			.cards-section__col 
				.row
					.preloader.preloader--v.cards-section__img 
						img.blazy.blazy--style(src="./" data-src="./images/main/cards/3.jpg", alt="bravo market")
					.cards-section__content 
						h4.preloader.preloader--v.cards-section__title Pensiyaçı kartı/ Pensioner card
						p.preloader.preloader--v.cards-section__descr(data-full-text="c2") 
							| BRAVO-dan dəyərli pensiyaçılarımıza xoş xəbər! Sərfəli alış verişə kömək edən BRAVO “Pensiyaçı Kartı”-ndan istifadə edərək məhsulları 10% endirim ilə əldə edə biləcəksiniz. Ətraflı məlumat üçün mağaza daxilində Müştəri Xidmətlərinə, customerservice@bravosupermarket.az elektron poçt ünvanına və ya aşağıdakı əlaqə nömrələrinə müraciət edə bilərsiniz:
							| BRAVO-dan dəyərli pensiyaçılarımıza xoş xəbər! Sərfəli alış verişə kömək edən BRAVO “Pensiyaçı Kartı”-ndan istifadə edərək məhsulları 10% endirim ilə əldə edə biləcəksiniz. Ətraflı məlumat üçün mağaza daxilində Müştəri Xidmətlərinə, customerservice@bravosupermarket.az elektron poçt ünvanına və ya aşağıdakı əlaqə nömrələrinə müraciət edə bilərsiniz:
							| BRAVO-dan dəyərli pensiyaçılarımıza xoş xəbər! Sərfəli alış verişə kömək edən BRAVO “Pensiyaçı Kartı”-ndan istifadə edərək məhsulları 10% endirim ilə əldə edə biləcəksiniz. Ətraflı məlumat üçün mağaza daxilində Müştəri Xidmətlərinə, customerservice@bravosupermarket.az elektron poçt ünvanına və ya aşağıdakı əlaqə nömrələrinə müraciət edə bilərsiniz:
						button.preloader.preloader--v.cards-section__button(data-show-full-text="c2")
							span.cards-section__btn-text Read More 
							span.cards-section__btn-text Read Less 
			.cards-section__col 
				.row
					.preloader.preloader--v.cards-section__img 
						img.blazy.blazy--style(src="./" data-src="./images/main/cards/2.jpg", alt="bravo market")
					.cards-section__content 
							h4.preloader.preloader--v.cards-section__title Hədiyyə kartları/ Gift cards 
							p.preloader.preloader--v.cards-section__descr(data-full-text="c3") 
								| Make happy your beloved ones with BRAVO gift cards! Give them the opportunity to choose from thousands of quality products. You can purchase 10, 20, 50 and 100 AZN BRAVO gift cards as a present for your dear ones. It’s much easier now to choose a gift with BRAVO gift cards!
								| Make happy your beloved ones with BRAVO gift cards! Give them the opportunity to choose from thousands of quality products. You can purchase 10, 20, 50 and 100 AZN BRAVO gift cards as a present for your dear ones. It’s much easier now to choose a gift with BRAVO gift cards!
								| Make happy your beloved ones with BRAVO gift cards! Give them the opportunity to choose from thousands of quality products. You can purchase 10, 20, 50 and 100 AZN BRAVO gift cards as a present for your dear ones. It’s much easier now to choose a gift with BRAVO gift cards!
							button.preloader.preloader--v.cards-section__button(data-show-full-text="c3") 
								span.cards-section__btn-text Read More 
								span.cards-section__btn-text Read Less 