section.leaflet.section--mb-inner 
	.container 
		.row 
			.section.section--line
				h2.section__title.preloader.preloader--v NATIONAL LEAFLETS & MAGAZINES

		.row 
			.leaflet__col 
				.leaflet-box 
					p.leaflet-box__time.preloader.preloader--v 02/04-15/04
					h3.leaflet-box__title.preloader.preloader--v Bravo Weekly
					a(href="#").leaflet-box__img.preloader.preloader--v 
						img.blazy.blazy--style(src="./images/main/empty_img.png" data-src="./images/main/leaflet/1.jpg", alt="bravo market logo")
						span.leaflet-box__hover-btn
							span.leaflet-box__hover-icon
								+icon('pdf', 'leaflet-box__read-icon')
							span.leaflet-box__hover-text Read Online
					a(href="./media/2-15 aprel son variant.pdf" download).leaflet-box__link.preloader.preloader--v
						+icon('download', 'leaflet-box__download-icon') 
						| Download Pdf
			.leaflet__col 
				.leaflet-box 
					p.leaflet-box__time.preloader.preloader--v 02/04-15/04
					h3.leaflet-box__title.preloader.preloader--v Bravo Weekly
					a(href="#").leaflet-box__img.preloader.preloader--v 
						img.blazy.blazy--style(src="./images/main/empty_img.png" data-src="./images/main/leaflet/2.jpg", alt="bravo market logo")
						span.leaflet-box__hover-btn
							span.leaflet-box__hover-icon
								+icon('pdf', 'leaflet-box__read-icon')
							span.leaflet-box__hover-text Read Online
					a(href="./media/2-15 aprel son variant.pdf" download).leaflet-box__link.preloader.preloader--v
						+icon('download', 'leaflet-box__download-icon') 
						| Download Pdf