section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title General Information
				p.preloader.preloader--v.careers-info__text Azərbaycanda milli dəyərlərə bağlı, qürurla yaradılmış, etibarlı qida markası olmaq. Biz, mağazalarda müştərilərə qida/qeyri-qida sahəsindəki beynəlxalq standartlarla işlədiyimizi göstəririk.
				p.preloader.preloader--v.careers-info__text Buna nail olmaq üçün biz Azərbaycanın daxilində fərqli və yeni düşüncə tərzinə sahib, təşəbbüskar və məsuliyyəti üzərinə götürən və pərakəndə satışı sahəsində karyera qurmaq arzusu olan mütəxəssisləri cəlb etməkdir. 
				br 
				h2.preloader.preloader--v.careers-info__sub-title İnsan Resursların Siyasəti
				p.preloader.preloader--v.careers-info__text Şirkət İnsan Resurslarının İdarəolunmasını beynəlxalq təcrübə əsasında qurur, həmçinin öz işçilərini ən dəyərli kapitalı sayaraq onların şəffaf şəkildə işə qəbulunu, effektiv təlim və inkişafını, əmək fəaliyyətinin periodik qiymətləndirilməsini, vəzifə və fəaliyyətinə görə əməyin ədalətli və rəqabətli ödənişini və uğurlu karyera yüksəlişini təmin edir. İşlərimizdə təkrarçılığa yol verməmək üçün,  biznes standartlarını inkişaf etdiririk.
				br 
				h2.preloader.preloader--v.careers-info__sub-title İşə qəbul siyasəti
				p.preloader.preloader--v.careers-info__text Şirkət hər kəsə eyni imkanlar yaradır və işə qəbulu irq, dərinin rəngi, dil, cins, yaş, əlillik və/və ya digər amillərdən asılı olmayaraq həyata keçirir.
				p.preloader.preloader--v.careers-info__text Biz əmək bazarında özünə güvənən, pərakəndə satış sahəsində karyera qurmaq istəyən aktiv, dürüst, öyrənməyə meylli namizədləri Şirkətin işə qəbul qaydaları çərçivəsində işə alırıq. 
				p.preloader.preloader--v.careers-info__text Bu bölmədə siz bizim şirkətində karyera imkanlarından məlumat ala bilərsiniz.

				
section.careers-news.section--mb-last
	.container 
		.row 
			.careers-news__col 
				.preloader.preloader--v.careers-news-box
					.careers-news-box__inner.careers-news-box__inner--width-full
						a(href="#").careers-news-box__tile.careers-news-box__tile--horizontal
							.careers-news-box__img.careers-news-box__img--horizontal
								img.blazy.blazy--style(src="./" data-src="./images/main/careers/news1.jpg", alt="bravo market")
							.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #5868FB 0%, #001AFF 100%)")
								h4.careers-news-box__title Karyera günləri
								p.careers-news-box__sub-title Hələ də işə müraciət etməyim nə qədər çətin olduğunu düşünürsünüz? 
								.careers-news-box__arrow.careers-news-box__arrow--left-bottom(style="border-right-color: #001AFF")
						a(href="#").careers-news-box__tile.careers-news-box__tile--horizontal
							.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #93E95E 0%, #5BBC1F 100%)")
								h4.careers-news-box__title Mağaza heyəti 
								p.careers-news-box__sub-title Azərbaycanda milli dəyərlərə bağlı, qürurla yaradılmış, etibarlı qida markası olmaq.
								.careers-news-box__arrow.careers-news-box__arrow--right-bottom(style="border-left-color: #5BBC1F")
							.careers-news-box__img.careers-news-box__img--horizontal
								img.blazy.blazy--style(src="./" data-src="./images/main/careers/news3.jpg", alt="bravo market")
					.careers-news-box__inner.careers-news-box__inner--width-half
						a(href="#").careers-news-box__tile.careers-news-box__tile--vertical
							.careers-news-box__img.careers-news-box__img--vertical
								img.blazy.blazy--style(src="./" data-src="./images/main/careers/news2.jpg", alt="bravo market")
							.careers-news-box__descr(style="background: radial-gradient(50% 50% at 50% 50%, #FAE794 0%, #FBD630 100%)")
								h4.careers-news-box__title Mağaza idarə heyəti
								p.careers-news-box__sub-title Mağaza idarə heyətimizə indi qoşulun.Bravo-da işiniz olsun!
								.careers-news-box__arrow.careers-news-box__arrow--left-top(style="border-bottom-color: #FBD630")
		//- .row 						
		//- 	.careers-news__col-half
		//- 		a(href="#").careers-news-post
		//- 			.careers-news-post__thumb
		//- 				img.blazy.blazy--style(src="./" data-src="./images/main/careers/a1.jpg", alt="bravo market")
		//- 			.careers-news-post__content 
		//- 				h5.careers-news-post__title Additional block
		//- 	.careers-news__col-half
		//- 		a(href="#").careers-news-post
		//- 			.careers-news-post__thumb
		//- 				img.blazy.blazy--style(src="./" data-src="./images/main/careers/a2.jpg", alt="bravo market")
		//- 			.careers-news-post__content 
		//- 				h5.careers-news-post__title Additional block 


