section.breadcrumbs 
	.container 
		.row 
			.breadcrumbs_col 
				.breadcrumbs__nav 
					a.breadcrumbs__item.preloader-overlay.preloader-overlay--vertical(href="#") 
						+icon('home', 'breadcrumbs__icon')
					span.breadcrumbs__item.breadcrumbs__item--inactive.preloader-overlay.preloader-overlay--vertical 
						+icon('arrow', 'breadcrumbs__icon breadcrumbs__icon--arrow')
