section.offers-tab.section--mb-inner
	.container 
		.row 
			.offers-tab__col
				ul.offers-tab__menu
					li.offers-tab__items.simple-tab__link--active.preloader.preloader--v(data-simple-tab-nav="offers-tab-1")
						span.offers-tab__link Special offers
					li.offers-tab__items.preloader.preloader--v(data-simple-tab-nav="offers-tab-2")
						span.offers-tab__link Upcoming
			.offers-tab__col
				.offers-tab__content.preloader.preloader--v.simple-tab__content--active(data-simple-tab-content="offers-tab-1")
					.offers-tab-slider.swiper-container 
						.swiper-wrapper 
							.swiper-slide 
								a(href="#").offers-tab-slider__link
									.offers-tab-slider__img 
										img.blazy.blazy--style(src="./" data-src="./images/main/offer/4.jpg", alt="bravo market goods")
									.offers-tab-slider__descr 
										time.offers-tab-slider__time From Thursday, 23.01
										h5.offers-tab-slider__title Novruz Bayram is coming
							.swiper-slide 
								a(href="#").offers-tab-slider__link
									.offers-tab-slider__img 
										img.blazy.blazy--style(src="./" data-src="./images/main/offer/2.jpg", alt="bravo market goods")
									.offers-tab-slider__descr
										time.offers-tab-slider__time From Thursday, 10.01
										h5.offers-tab-slider__title Easter Feasts
							.swiper-slide 
								a(href="#").offers-tab-slider__link
									.offers-tab-slider__img 
										img.blazy.blazy--style(src="./" data-src="./images/main/offer/3.jpg", alt="bravo market goods")
									.offers-tab-slider__descr
										time.offers-tab-slider__time From Thursday, 13.01
										h5.offers-tab-slider__title Easter Treats
							.swiper-slide 
								a(href="#").offers-tab-slider__link
									.offers-tab-slider__img 
										img.blazy.blazy--style(src="./" data-src="./images/main/offer/1.jpg", alt="bravo market goods")
									.offers-tab-slider__descr
										time.offers-tab-slider__time From Thursday, 13.01
										h5.offers-tab-slider__title Garden Event
							.swiper-slide 
								a(href="#").offers-tab-slider__link
									.offers-tab-slider__img 
										img.blazy.blazy--style(src="./" data-src="./images/main/offer/5.jpg", alt="bravo market goods")
									.offers-tab-slider__descr 
										time.offers-tab-slider__time From Thursday, 13.01
										h5.offers-tab-slider__title Pick of the weak
				.offers-tab__content.preloader.preloader--v(data-simple-tab-content="offers-tab-2")
					.offers-tab-content.offers-tab-content--scrolled
						a(href="#").offers-tab-slider__link
							.offers-tab-slider__img 
								img.blazy.blazy--style(src="./" data-src="./images/main/offer/4.jpg", alt="bravo market goods")
							.offers-tab-slider__descr 
								time.offers-tab-slider__time From Thursday, 23.01
								h5.offers-tab-slider__title Novruz Bayram is coming

						a(href="#").offers-tab-slider__link
							.offers-tab-slider__img 
								img.blazy.blazy--style(src="./" data-src="./images/main/offer/2.jpg", alt="bravo market goods")
							.offers-tab-slider__descr
								time.offers-tab-slider__time From Thursday, 10.01
								h5.offers-tab-slider__title Easter Feasts
				
						a(href="#").offers-tab-slider__link
							.offers-tab-slider__img 
								img.blazy.blazy--style(src="./" data-src="./images/main/offer/3.jpg", alt="bravo market goods")
							.offers-tab-slider__descr
								time.offers-tab-slider__time From Thursday, 13.01
								h5.offers-tab-slider__title Easter Treats
		
						a(href="#").offers-tab-slider__link
							.offers-tab-slider__img 
								img.blazy.blazy--style(src="./" data-src="./images/main/offer/1.jpg", alt="bravo market goods")
							.offers-tab-slider__descr
								time.offers-tab-slider__time From Thursday, 13.01
								h5.offers-tab-slider__title Garden Event
				
						a(href="#").offers-tab-slider__link
							.offers-tab-slider__img 
								img.blazy.blazy--style(src="./" data-src="./images/main/offer/5.jpg", alt="bravo market goods")
							.offers-tab-slider__descr 
								time.offers-tab-slider__time From Thursday, 13.01
								h5.offers-tab-slider__title Pick of the weak
		
section.shop-article.offers-banner.section--mb-last
	.container 
		.shop-article-wrap 
			.row 
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o1.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o2.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o3.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o4.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o5.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o6.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o7.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o8.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o9.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o10.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text
				a(href="#").shop-article__col.offers-banner__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/offer/o11.jpg" alt="shop offer thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Promo 1
						p.shop-article__descr.preloader.preloader--v Exampe text

			
