section.error-page 
	.container 
		.row 
			.error-page__col 	
				img.error-page__img.blazy.blazy--style(src="./" data-src="./images/main/icon/404.svg", alt="bravo market")
				h1.preloader.preloader--v.error-page__title Something went wrong!
				a(href="#").error-page__btn.primary-btn.primary-btn--green.preloader.preloader--v Back to main page 