footer.footer.footer--white
	.container 
		.row.footer__row-nav
			nav.footer-nav
				ul.footer-nav__menu 
					li.footer-nav__items.footer-nav__items--title.preloader.preloader--v  Quick links
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link About us
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Promotions
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Press center
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Recipes
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Our stores
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Contact us 
			nav.footer-nav
				ul.footer-nav__menu 
					li.footer-nav__items.footer-nav__items--title.preloader.preloader--v  About Bravo
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link History
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Mission & values
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Local charity
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Sustainability
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Headquarters
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Countries of operation
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Compliance 
			nav.footer-nav
				ul.footer-nav__menu 
					li.footer-nav__items.footer-nav__items--title.preloader.preloader--v  Products & Services
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Departments
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Quality standards
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Food safety
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Product manuals
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Product videos 
			nav.footer-nav
				ul.footer-nav__menu 
					li.footer-nav__items.footer-nav__items--title.preloader.preloader--v  Customer care
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Potential suppliers
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Real estate
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link FAQ
					li.footer-nav__items.preloader.preloader--v
						a(href="#").footer-nav__link Product recalls 

footer.footer.footer--green
	.container
		.row 

			.footer__col-logo.preloader.preloader--v
				a(href="#").footer__logo
					img.blazy.blazy--style(src="./" data-src="./images/main/icon/l_vertical.svg", alt="bravo market logo")
			
			.footer__col-content
				.footer-nav-about
					nav.footer-nav.footer-nav--about.preloader.preloader--v
						ul.footer-nav__menu 
							li.footer-nav__items.footer-nav__items--title.footer-nav__items--title-white  Get Bravo app
							li.footer-nav__items
								a(href="#").footer-nav__link.footer-nav__link--white Learn more
							li.footer-nav__items
								a(href="#").footer-nav__link.footer-nav__link--white Google play
							li.footer-nav__items
								a(href="#").footer-nav__link.footer-nav__link--white App store
					nav.footer-nav.footer-nav--about.preloader.preloader--v 
						ul.footer-nav__menu 
							li.footer-nav__items.footer-nav__items--title.footer-nav__items--title-white Legal
							li.footer-nav__items
								a(href="#").footer-nav__link.footer-nav__link--white Privacy policy
							li.footer-nav__items
								a(href="#").footer-nav__link.footer-nav__link--white Terms of use
							li.footer-nav__items
								a(href="#").footer-nav__link.footer-nav__link--white Contest rules and regulations

					p.footer-nav-about__copyright.preloader.preloader--v All rights reserved © Azerbaijan Supermarket MMC 2020			

			.footer__col-social 
				.footer-social 
					h4.footer-social__title.preloader.preloader--v Connect with us
					.footer-social__wrap
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('fb', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('tw', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('ins', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('yt1', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('lk', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('pt', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('gg', 'footer-social__icon')
						a.footer-social__link.preloader.preloader--v(href="#")
							+icon('tg', 'footer-social__icon')

			.footer__col-copyright
				p.footer-nav-about__copyright.preloader.preloader--v All rights reserved © Azerbaijan Supermarket MMC 2020	

			.footer__col-subs 
				form.footer-subs 
					.footer-subs__row 
						.footer-subs__col 
							h4.footer-subs__title.preloader.preloader--v Sign up for our newsletter
					.footer-subs__row.preloader.preloader--v
						.footer-subs__col 
							input.footer-subs__input(type="email", name="footer-subs-email" placeholder="Enter your email" required)
							button(type="submit").footer-subs__btn
								+icon('arrow-r', 'footer-subs__icon')
					.footer-subs__row 
						.footer-subs__col.footer-subs__col--ai-center
							a.footer-subs__dev-logo.preloader.preloader--v(href="#")
								img.blazy.blazy--style(src="./" data-src="./images/main/icon/dev_logo.svg", alt="bravo market")
							p.footer-subs__message.footer-subs__message--success.preloader.preloader--v Thanks for subscribing!	
							// p.footer-subs__message.footer-subs__message--error Something went wrong	












 





//- Modal pdf view 
//- .modal-main.pdf-modal
//- 	.modal-main__wrapper 
//- 		.modal-main__overlay(data-animation-effect-in="fadeIn" data-animation-effect-out="fadeOut" data-modal-box=".pdf-modal")
//- 		.modal-main__body(data-animation-effect-in="fadeIn" data-animation-effect-out="fadeOut")
//- 			.modal-main__body-wrap
//- 				header.pdf-modal__header
//- 				section.pdf-modal__body
//- 			.modal-main__body-menu
//- 				| some 