extends _template.pug
block content 
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo") https://webskyus.ru//bravo
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/about.html") https://webskyus.ru//bravo/about.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/cards.html") https://webskyus.ru//bravo/cards.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/offers.html") https://webskyus.ru//bravo/offers.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/leaflet.html") https://webskyus.ru//bravo/leaflet.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/leaflet_inner.html") https://webskyus.ru//bravo/leaflet_inner.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/contacts.html") https://webskyus.ru//bravo/contacts.html

	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/store.html") https://webskyus.ru//bravo/store.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/store2.html") https://webskyus.ru//bravo/store2.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/csr_activities.html") https://webskyus.ru//bravo/csr_activities.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/disclaimer.html") https://webskyus.ru//bravo/disclaimer.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/customer_services.html") https://webskyus.ru//bravo/customer_services.html

	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/careers.html") https://webskyus.ru//bravo/careers.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/recruitment.html") https://webskyus.ru//bravo/recruitment.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/career_day.html") https://webskyus.ru//bravo/career_day.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/apply.html") https://webskyus.ru//bravo/apply.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/apply2.html") https://webskyus.ru//bravo/apply2.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/management.html") https://webskyus.ru//bravo/management.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/management2.html") https://webskyus.ru//bravo/management2.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/staff.html") https://webskyus.ru//bravo/staff.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/staff2.html") https://webskyus.ru//bravo/staff2.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/job.html") https://webskyus.ru//bravo/job.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/praktikum.html") https://webskyus.ru//bravo/praktikum.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/praktikum2.html") https://webskyus.ru//bravo/praktikum2.html
	a.links-page__link(target="_blank" href="https://webskyus.ru//bravo/praktikum3.html") https://webskyus.ru//bravo/praktikum3.html
