section.store-find.section--mb
	.container 	
		.row.row--align-center 
			.store-find__col-nav
				.store-find-collection
					.store-find-collection__row.store-find-collection__row--fxd-row
						h2.preloader.preloader--v.store-find__caption Find stores
						button.preloader.preloader--v.store-find__current-loc-search Use current location
					.store-find-collection__row.store-find-collection__row--fxd-row
						form.store-find-form 
							img.blazy.blazy--style(src="./" data-src="./images/main/icon/find.svg", alt="bravo market")
							input.preloader.preloader--v.store-find-form__search(type="search", name="store-find-form-search" placeholder="find a stores by adress") 
					.store-find-collection__row 
						h2.preloader.preloader--v.store-find-collection__title Bravo Supermarket
						p.preloader.preloader--v.store-find-collection__address Ganjlik Mall, 1st floor
						.store-find-collection__status-box
							.store-find-collection__status-box-row 
								p.preloader.preloader--v.store-find-collection__info.store-find-collection__info--closed
									+icon('closed', 'store-find-collection__info-svg')
									| Closed now 
								a(href="#").preloader.preloader--v.store-find-collection__info.store-find-collection__info--link
									+icon('info', 'store-find-collection__info-svg')
									| Store info 
							.store-find-collection__status-box-row 
								a.preloader.preloader--v.store-find-collection__btn.primary-btn.primary-btn--green(href="#") See more
					.store-find-collection__row 
						h2.preloader.preloader--v.store-find-collection__title Bravo Supermarket
						p.preloader.preloader--v.store-find-collection__address Amburan Mall, Bilgah settlement
						.store-find-collection__status-box
							.store-find-collection__status-box-row 
								p.preloader.preloader--v.store-find-collection__info.store-find-collection__info--opened
									+icon('open', 'store-find-collection__info-svg')
									| Open now 
								a(href="#").preloader.preloader--v.store-find-collection__info.store-find-collection__info--link
									+icon('info', 'store-find-collection__info-svg')
									| Store info 
							.store-find-collection__status-box-row 
								a.preloader.preloader--v.primary-btn.primary-btn--green(href="#") See more
			
					.store-find-collection__row 
						h2.preloader.preloader--v.store-find-collection__title Bravo Supermarket
						p.preloader.preloader--v.store-find-collection__address Ganjlik Mall, 1st floor
						.store-find-collection__status-box
							.store-find-collection__status-box-row 
								p.preloader.preloader--v.store-find-collection__info.store-find-collection__info--opened
									+icon('open', 'store-find-collection__info-svg')
									| Open now 
								a(href="#").preloader.preloader--v.store-find-collection__info.store-find-collection__info--link
									+icon('info', 'store-find-collection__info-svg')
									| Store info 
							.store-find-collection__status-box-row 
								a.preloader.preloader--v.store-find-collection__btn.primary-btn.primary-btn--green(href="#") See more
					.store-find-collection__row 
						h2.preloader.preloader--v.store-find-collection__title Bravo Supermarket
						p.preloader.preloader--v.store-find-collection__address Amburan Mall, Bilgah settlement
						.store-find-collection__status-box
							.store-find-collection__status-box-row 
								p.preloader.preloader--v.store-find-collection__info.store-find-collection__info--opened
									+icon('open', 'store-find-collection__info-svg')
									| Open now 
								a(href="#").preloader.preloader--v.store-find-collection__info.store-find-collection__info--link
									+icon('info', 'store-find-collection__info-svg')
									| Store info 
							.store-find-collection__status-box-row 
								a.preloader.preloader--v.primary-btn.primary-btn--green(href="#") See more
			
			.store-find__col-map
				#map.store-find__map




