section.banner-slider.section--mb
	.container.container--full 
		.row 
			.container-inner 
				.banner-top-slider.swiper-container.preloader.preloader--v
					.swiper-wrapper
						.swiper-slide
							a(href="#").banner-top-slider__slide 
								img.swiper-lazy(src="./" data-src="./images/main/index/top_slider/1.jpg", alt="main top slider, bravo market offers")
						.swiper-slide  
							a(href="#").banner-top-slider__slide 
								img.swiper-lazy(src="./" data-src="./images/main/index/top_slider/1.jpg", alt="main top slider, bravo market offers")
						.swiper-slide  
							a(href="#").banner-top-slider__slide 
								img.swiper-lazy(src="./" data-src="./images/main/index/top_slider/1.jpg", alt="main top slider, bravo market offers")
						.swiper-slide 
							a(href="#").banner-top-slider__slide 
								img.swiper-lazy(src="./" data-src="./images/main/index/top_slider/1.jpg", alt="main top slider, bravo market offers")
						.swiper-slide  
							a(href="#").banner-top-slider__slide 
								img.swiper-lazy(src="./" data-src="./images/main/index/top_slider/1.jpg", alt="main top slider, bravo market offers")
						.swiper-slide 
							a(href="#").banner-top-slider__slide 
								img.swiper-lazy(src="./" data-src="./images/main/index/top_slider/1.jpg", alt="main top slider, bravo market offers")
	.container 	
		.row 
			.banner-top-slider-thumb.swiper-container
				.swiper-wrapper
					.swiper-slide 
						h4.banner-top-slider-thumb__title  Store hours update
					.swiper-slide 
						h4.banner-top-slider-thumb__title  St. Patrick's Day
					.swiper-slide 
						h4.banner-top-slider-thumb__title  Fresh deals 
					.swiper-slide 
						h4.banner-top-slider-thumb__title  Weekly favorites 
					.swiper-slide 
						h4.banner-top-slider-thumb__title  Luck of the Irish
					.swiper-slide 
						h4.banner-top-slider-thumb__title  My rewards

section.special-offer.section--mb 
	.container.container--full 
		.row 
			.container-inner.section--green
				.container 
					.row.row--inner
						.special-offer__col-title
							h3.special-offer__title.preloader.preloader--v Specialbuys
							p.special-offer__descr.preloader.preloader--v New stock arrives every Thursday
						.special-offer__col-content 
							.row 
								a(href="#").special-offer-box.preloader.preloader--v
									h5.special-offer-box__title Offer of the day
									.special-offer-calendar 
										h4.special-offer-calendar__title Thursday 
										.special-offer-calendar__content
											p.special-offer-calendar__number 26
											p.special-offer-calendar__month MARCH
								a(href="#").special-offer-box.preloader.preloader--v
									h5.special-offer-box__title Offer of the day
									.special-offer-calendar 
										h4.special-offer-calendar__title Thursday 
										.special-offer-calendar__content
											p.special-offer-calendar__number 19
											p.special-offer-calendar__month MARCH
								a(href="#").special-offer-box.preloader.preloader--v
									h5.special-offer-box__title Offer of the day
									.special-offer-calendar 
										h4.special-offer-calendar__title Thursday 
										.special-offer-calendar__content
											p.special-offer-calendar__number 30
											p.special-offer-calendar__month december
								a(href="#").special-offer-box.preloader.preloader--v
									h5.special-offer-box__title Offer of the day
									.special-offer-calendar 
										h4.special-offer-calendar__title Thursday 
										.special-offer-calendar__content
											p.special-offer-calendar__number 1
											p.special-offer-calendar__month june

section.shop-article.section--mb 
	.container 
		.row 
			.section
				h2.section__title.preloader.preloader--v Shop at Bravo
				p.section__descr.preloader.preloader--v High quality. Low prices. It's quite simple. 
		.shop-article-wrap 
			.row 
				a(href="#").shop-article__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/index/shop_article/1.jpg" alt="shop article thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Store update
						p.shop-article__descr.preloader.preloader--v Find out more information about our stores
				a(href="#").shop-article__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/index/shop_article/2.jpg" alt="shop article thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v View weekly sales
						p.shop-article__descr.preloader.preloader--v While supplies last.
				a(href="#").shop-article__col 
					.shop-article__thumb.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/index/shop_article/3.jpg" alt="shop article thumb") 
					.shop-article__text 
						h5.shop-article__title.preloader.preloader--v Deals
						p.shop-article__descr.preloader.preloader--v Find everything you’ll need to throw!
			
		.row 
			.shop-article__full-col
				a(href="#").primary-btn.primary-btn--green.shop-article__btn.preloader.preloader--v See more 

section.careers.section--mb 
	.container.container--full 
		.row 
			.container-inner.section--green
				.container 
					.row.row--inner
						.careers__col-content 
							h3.careers__title.preloader.preloader--v Careers
							p.careers__descr.preloader.preloader--v The first time you sign in to the app as a Umico member, you'll receive a 1 point off reward. Scan the app at checkout for more savings.
							a(href="#").primary-btn.primary-btn--white.careers__btn.preloader.preloader--v Join now!
						.careers__col-img.preloader.preloader--v
							img.careers__img.blazy.blazy--style(src="./" data-src="./images/main/index/careers.jpg", alt="bravo market")

section.bravo-banner.section--mb.preloader.preloader--v
	.container.container--full 
		.row 
			.container-inner.section--green
				a(href="#").bravo-banner__link
					img.bravo-banner__img.blazy.blazy--style(src="./" data-src="./images/main/index/banner.jpg", alt="bravo market") 

section.careers.section--mb 
	.container.container--full 
		.row 
			.container-inner.section--green
				.container 
					.row.row--inner
						.careers__col-img.preloader.preloader--v
							img.careers__img.careers__img--right.blazy.blazy--style(src="./" data-src="./images/main/index/exp.jpg", alt="bravo market")
						.careers__col-content.careers__col-content--right
							h3.careers__title.preloader.preloader--v Customer Experience
							p.careers__descr.preloader.preloader--v The first time you sign in to the app as a Umico member, you'll receive a 1 point off reward. Scan the app at checkout for more savings.
							a(href="#").primary-btn.primary-btn--white.careers__btn.preloader.preloader--v Join now!

section.shop-article.section--mb 
	.container 
		.row 
			.section
				h2.section__title.preloader.preloader--v Media
				p.section__descr.preloader.preloader--v Be the first to know
		.shop-article-wrap 
			.row 
				.shop-article__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/index/shop_article/2.jpg" alt="shop article thumb") 
						.shop-article__video
							.shop-article__video-wrap.shop-article__video-wrap--first.shop-article__video-wrap--active
								+icon('yt', 'shop-article__video-icon')
							.shop-article__video-wrap 
								iframe.yt-player(src='https://www.youtube.com/embed/TBikbn5XJhg?enablejsapi=1' )
					a(href="#").shop-article__text 
						h5.shop-article__title.preloader.preloader--v Store update
						p.shop-article__descr.preloader.preloader--v Find out more information about our stores
				.shop-article__col 
					.shop-article__thumb.preloader.preloader--v 
						img.blazy.blazy--style(src="./" data-src="./images/main/index/shop_article/4.jpg" alt="shop article thumb") 
						.shop-article__video
							.shop-article__video-wrap.shop-article__video-wrap--first.shop-article__video-wrap--active
								+icon('yt', 'shop-article__video-icon')
							.shop-article__video-wrap 
								iframe.yt-player(src='https://www.youtube.com/embed/TBikbn5XJhg?enablejsapi=1' )
					a(href="#").shop-article__text 
						h5.shop-article__title.preloader.preloader--v View weekly sales
						p.shop-article__descr.preloader.preloader--v While supplies last.
				.shop-article__col 
					.shop-article__thumb.preloader.preloader--v
						img.blazy.blazy--style(src="./" data-src="./images/main/index/shop_article/1.jpg" alt="shop article thumb") 
						.shop-article__video
							.shop-article__video-wrap.shop-article__video-wrap--first.shop-article__video-wrap--active
								+icon('yt', 'shop-article__video-icon')
							.shop-article__video-wrap 
								iframe.yt-player(src='https://www.youtube.com/embed/TBikbn5XJhg?enablejsapi=1' )
					a(href="#").shop-article__text 
						h5.shop-article__title.preloader.preloader--v Deals
						p.shop-article__descr.preloader.preloader--v Find everything you’ll need to throw!
