section.careers-info.section--pb-last
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title Mağaza heyəti
				p.preloader.preloader--v.careers-info__text Azərbaycanda milli dəyərlərə bağlı, qürurla yaradılmış, etibarlı qida markası olmaq. Biz, mağazalarda müştərilərə qida/qeyri-qida sahəsindəki beynəlxalq standartlarla işlədiyimizi göstəririk. Buna nail olmaq üçün biz Azərbaycanın daxilində fərqli və yeni düşüncə tərzinə sahib, təşəbbüskar və məsuliyyəti üzərinə götürən və pərakəndə satışı sahəsində karyera qurmaq arzusu olan mütəxəssisləri cəlb etməkdir. 
				p.preloader.preloader--v.careers-info__text Mağaza heyətimizə indi qoşulun. Bravo-da işiniz olsun!
				br 
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green Müraciət
				br 
				p.preloader.preloader--v.careers-info__bold-text İşəqəbul bir neçə mərhələlərdən ibarətdir.
				br 
				ol.careers-info-counted-list
					li.preloader.preloader--v.careers-info-counted-list__items İLKİN MÜRACİƏTLƏRİN DƏYƏRLƏNDİRMƏSİ
					li.preloader.preloader--v.careers-info-counted-list__items İLKİN MÜSAHİBƏ
					li.preloader.preloader--v.careers-info-counted-list__items İKİNCİ MÜSAHİBƏ
					li.preloader.preloader--v.careers-info-counted-list__items UYGUN NAMİZƏDƏ İŞ TƏKLİFİNİN EDİLMƏSİ
					li.preloader.preloader--v.careers-info-counted-list__items GİRİS TƏLİMİ
				br 
				p.preloader.preloader--v.careers-info__text Müsbət qərar verilmiş namizədlər Azərbaycan Respublikasının Əmək qanunvericiliyinə və Şirkətin daxili qaydalarına uyğun olaraq 3 (üç) ay sınaq müddəti müəyyən edilməklə işə qəbul edilir.
				p.preloader.preloader--v.careers-info__text Azerbaijan Supermarket MMC-yə işə qəbul üçün CV formaların qəbulu bir neçə mənbədən olunur:
				p.preloader.preloader--v.careers-info__text CV formalar qeyd olunan marketlərin müştəri xidmətlərində yerləşən CV qutularında saxlanılır. CV qutuların yerləşdiyi ünvanlar: Azure, Khirdalan, Khatai, Winter park, Globus Center, 28 mall, Sharifzada Center, Baki Tennis Akademiya.
				p.preloader.preloader--v.careers-info__text Namizədlər saytda mövcud olan vakansiyalarla tanış olduqdan sonra,  İŞƏ QƏBUL ANKETİ  tam şəkildə doldurulub hr@azerbaijansupermarket.com e-mail ünvanına göndərirlər. 
				br 
				br 
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green Vakansiyalar 
				ul.careers-info-vacancies
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox1(type="radio", name="vacancy-page-checkbox" checked)
							label(for="vacancy-page-checkbox1").preloader.preloader--v.careers-info-vacancies__type Baş satıcı
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v1") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v1") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox2(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox2").preloader.preloader--v.careers-info-vacancies__type Balıqçı
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v2") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v2") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox3(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox3").preloader.preloader--v.careers-info-vacancies__type Baş xəzinədar
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v3") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v3") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox4(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox4").preloader.preloader--v.careers-info-vacancies__type Baş xəzinədar
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v4") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v4") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox5(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox5").preloader.preloader--v.careers-info-vacancies__type Fəhlə
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v5") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v5") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox6(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox6").preloader.preloader--v.careers-info-vacancies__type Satıcı
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v6") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v6") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox7(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox7").preloader.preloader--v.careers-info-vacancies__type Qiymətə nəzarət üzrə köməkçi
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v7") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v7") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox8(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox8").preloader.preloader--v.careers-info-vacancies__type Xəzinədar
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v8") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v8") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox9(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox9").preloader.preloader--v.careers-info-vacancies__type Malların qəbulu üzrə köməkçi
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v9") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v9") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox10(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox10").preloader.preloader--v.careers-info-vacancies__type Çörəkçi
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v10") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v10") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox11(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox11").preloader.preloader--v.careers-info-vacancies__type Paketçi
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v11") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v11") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox12(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox12").preloader.preloader--v.careers-info-vacancies__type Qəssab
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v12") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v12") 
								span Read More
								span Read Less
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link
							input#vacancy-page-checkbox13(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox13").preloader.preloader--v.careers-info-vacancies__type Xadimə
							span.preloader.preloader--v.careers-info-vacancies__descr(data-full-text="v13") 
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
								| Very long description of the vacancy which occupies several lines, due to which there is a need to transfer details to a new page
							span.preloader.preloader--v.careers-info-vacancies__read(data-show-full-text="v13") 
								span Read More
								span Read Less
				a(href="#").preloader.preloader--v.primary-btn.primary-btn--outline-green.careers-info-vacancies-btn apply Now