section.careers-info.section--pb-last
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title Mağaza idarə heyəti
				p.preloader.preloader--v.careers-info__text Mağaza idarə heyətimizə indi qoşulun. Bravo-da işiniz olsun!
				br 
				p.preloader.preloader--v.careers-info__text Bizim məqsədlərimizdən biri pərakəndə satış sahədə lider olmaq və yerli əməkdaşların sayını artırmaqdır. Buna nail olmaq üçün biz Azərbaycanın daxilində yüksək səviyyəlı mağaza idarəetmədə mütəxəssisləri cəlb etməkdir. 
				br 
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green Müraciət
				br 
				p.preloader.preloader--v.careers-info__bold-text İşəqəbul bir neçə mərhələlərdən ibarətdir.
				br 
				ol.careers-info-counted-list
					li.preloader.preloader--v.careers-info-counted-list__items İLKİN MÜRACİƏTLƏRİN DƏYƏRLƏNDİRMƏSİ
					li.preloader.preloader--v.careers-info-counted-list__items İLKİN MÜSAHİBƏ
					li.preloader.preloader--v.careers-info-counted-list__items İKİNCİ MÜSAHİBƏ
					li.preloader.preloader--v.careers-info-counted-list__items UYGUN NAMİZƏDƏ İŞ TƏKLİFİNİN EDİLMƏSİ
					li.preloader.preloader--v.careers-info-counted-list__items GİRİS TƏLİMİ
				br 
				p.preloader.preloader--v.careers-info__text Müsbət qərar verilmiş namizədlər Azərbaycan Respublikasının Əmək qanunvericiliyinə və Şirkətin daxili qaydalarına uyğun olaraq 3 (üç) ay sınaq müddəti müəyyən edilməklə işə qəbul edilir.
				p.preloader.preloader--v.careers-info__text Azerbaijan Supermarket MMC-yə işə qəbul üçün CV formaların qəbulu bir neçə mənbədən olunur:
				p.preloader.preloader--v.careers-info__text CV formalar qeyd olunan marketlərin müştəri xidmətlərində yerləşən CV qutularında saxlanılır. CV qutuların yerləşdiyi ünvanlar: Azure, Khirdalan, Khatai, Winter park, Globus Center, 28 mall, Sharifzada Center, Baki Tennis Akademiya.
				p.preloader.preloader--v.careers-info__text Namizədlər saytda mövcud olan vakansiyalarla tanış olduqdan sonra,  İŞƏ QƏBUL ANKETİ  tam şəkildə doldurulub hr@azerbaijansupermarket.com e-mail ünvanına göndərirlər. 
				br 
				p.preloader.preloader--v.careers-info__text Komandamıza qoşulmaq üçün ən azı müvafiq sahədə bir il iş təcrübəsi olması arzu olunandır.
				br 
				br 
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green Vakansiyalar 
				ul.careers-info-vacancies
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link.careers-info-vacancies__link--js
							input#vacancy-page-checkbox1(type="radio", name="vacancy-page-checkbox" checked)
							label(for="vacancy-page-checkbox1").preloader.preloader--v.careers-info-vacancies__type Baş satıcı
						ul.careers-info-vacancies__inner-list
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-1(type="radio", name="vacancy-page-checkbox-inner" checked)
								label(for="vacancy-page-checkbox-1").preloader.preloader--v.careers-info-vacancies__type Qida/Qeyri Qida sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-2(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-1").preloader.preloader--v.careers-info-vacancies__type Müştəri xidmətləri və əməliyyatlar sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-3(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-3").preloader.preloader--v.careers-info-vacancies__type Meyvə/tərəvəz sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-4(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-4").preloader.preloader--v.careers-info-vacancies__type Gündəlik məsullar sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-5(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-5").preloader.preloader--v.careers-info-vacancies__type Quru Qida sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-6(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-6").preloader.preloader--v.careers-info-vacancies__type Məişət cihazları sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-7(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-7").preloader.preloader--v.careers-info-vacancies__type Məişət əşyaları sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-8(type="radio", name="vacancy-page-checkbox-inner")
								label(for="vacancy-page-checkbox-8").preloader.preloader--v.careers-info-vacancies__type Təzə qida sektoru
					
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link.careers-info-vacancies__link--js
							input#vacancy-page-checkbox111(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox111").preloader.preloader--v.careers-info-vacancies__type Baş satıcı
						ul.careers-info-vacancies__inner-list
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-11(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-11").preloader.preloader--v.careers-info-vacancies__type Qida/Qeyri Qida sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-21(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-21").preloader.preloader--v.careers-info-vacancies__type Müştəri xidmətləri və əməliyyatlar sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-31(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-31").preloader.preloader--v.careers-info-vacancies__type Meyvə/tərəvəz sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-41(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-41").preloader.preloader--v.careers-info-vacancies__type Gündəlik məsullar sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-51(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-51").preloader.preloader--v.careers-info-vacancies__type Quru Qida sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-61(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-61").preloader.preloader--v.careers-info-vacancies__type Məişət cihazları sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-71(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-71").preloader.preloader--v.careers-info-vacancies__type Məişət əşyaları sektoru
							li.careers-info-vacancies__inner-items
								input.careers-info-vacancies__input#vacancy-page-checkbox-81(type="radio", name="vacancy-page-checkbox-inner1")
								label(for="vacancy-page-checkbox-81").preloader.preloader--v.careers-info-vacancies__type Təzə qida sektoru
					
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link.careers-info-vacancies__link--js
							input#vacancy-page-checkbox2(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox2").preloader.preloader--v.careers-info-vacancies__type Market menecerin köməkçisi (müdir müavini) 
					li.preloader.preloader--v.careers-info-vacancies__items
						span.preloader.preloader--v.careers-info-vacancies__link.careers-info-vacancies__link--js
							input#vacancy-page-checkbox3(type="radio", name="vacancy-page-checkbox")
							label(for="vacancy-page-checkbox3").preloader.preloader--v.careers-info-vacancies__type Market meneceri 
				a(href="#").preloader.preloader--v.primary-btn.primary-btn--outline-green.careers-info-vacancies-btn apply Now